# -------------------------------------------------
# build output
# -------------------------------------------------
dist/

release/
# -------------------------------------------------
# docs for github page
# -------------------------------------------------
!docs/demo/
!docs/demo/** 

# -------------------------------------------------
# dependencies
# -------------------------------------------------
node_modules/

# OpenCV runtime (large, reproducible)
assets/opencv/*.js
assets/opencv/*.wasm
assets/opencv/*.data
demo/public/assets/opencv/*.js
demo/public/assets/opencv/*.wasm
demo/public/assets/opencv/*.data
demo/public/assets/pipelines/*

docs/demo/assets/opencv/*.wasm
docs/demo/assets/opencv/*.js

!docs/assets/opencv/*.wasm
!docs/assets/opencv/*.js


# -------------------------------------------------
# logs
# -------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# -------------------------------------------------
# OS / editor junk
# -------------------------------------------------
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# -------------------------------------------------
# temporary / cache
# -------------------------------------------------
*.tsbuildinfo
.esbuild*

# -------------------------------------------------
# local env files (if added later)
# -------------------------------------------------
.env
.env.*

#---------------------------------------------------
# dev tricks
*.old
*.obsolete